/* - - - - - - - - - - Media Styles - - - - - - - - - - */

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .findme-title {
    font-size: 20px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .post {
    width: 48%;
    max-width: 100%;
    margin: 0 0.9% 1.5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .post .post-thumbnail {
    width: 100%;
  }

  .post .post-content {
    width: 100%;
  }

  .post .post-content .post-title {
    margin: 0 0 5px;
  }

  .post .post-content .post-title a {
    font-size: 21px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .sidebar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  }

  .sidebar footer {
    margin-bottom: 10px;
  }

  .about {
    text-align: center;
    max-width: 480px;
    margin: 10px auto auto;
  }

  .about img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin-bottom: 10px;
  }

  .content-box {
    padding: 20px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .contact-title,
  .copyright {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .content-box {
    padding: 10px;
  }

  .post {
    width: 98%;
    max-width: 100%;
    margin: 2%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .post .post-thumbnail {
    width: 100%;
  }

  .post .post-content {
    width: 100%;
  }

  .post .post-content .post-title {
    margin: 0 0 5px;
  }

  .post .post-content .post-title a {
    font-size: 21px;
  }
}

@media (max-height: 700px) {
  .findme-icons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .sidebar {
    height: auto;
    padding: 10px;
  }

  .findme-icons {
    max-height: 200px;
  }
}