---
layout: default
---

<aside class="sidebar">
      <header>
            <div class="about">
                  <div class="cover-author-image">
                        <a href="{{site.baseurl}}/"><img
                                    src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}"
                                    alt="{{site.author}}"></a>
                  </div>
                  <div class="author-name">{{site.author}}</div>
                  <p class="author-description">{{site.about-author}}</p>
            </div>
            <hr />
      </header> <!-- End Header -->
      <div class="findme">
            <p class="findme-title">FIND ME</p>
            <ul class="findme-icons">
                  <li><a title="YouTube" href="https://www.youtube.com/channel/UCjm14K2SX978Z62XUbXTlwA/playlists" target="_blank" rel="noopener"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/2560px-YouTube_full-color_icon_%282017%29.svg.png" alt="YouTube"></a></li>
                  <li><a title="Net-Baires" href="https://www.meetup.com/es/net-baires/" target="_blank" rel="noopener"><img src="https://pbs.twimg.com/profile_images/1046181157556178944/RrV9qMOP_400x400.jpg" alt="Net-Baires"></a></li>
                  <li><a title="Microsoft MVP" href="https://mvp.microsoft.com/en-us/PublicProfile/5003354?fullName=Sebasti%C3%A1n%20Leonardo%20P%C3%A9rez" target="_blank" rel="noopener"><img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Microsoft_MVP_banner.png" alt="Microsoft MVP"></a></li>
                  <li><a title="NET Foundation" href="https://dotnetfoundation.org/community/speakers/sebastian-leonardo-perez" target="_blank" rel="noopener"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/.NET_Foundation_Logo.svg" alt=".NET Foundation"></a></li>
                  <li><a title="Sessionize" href="https://sessionize.com/sebaleoperez" target="_blank" rel="noopener"><img src="https://sessionize.com/landing/images/brand/logo/sessionize-logo-vertical.png" alt="Sessionize"></a></li>
                  <li><a title="Platzi" href="https://platzi.com/profesores/sebaleoperez/" target="_blank" rel="noopener"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6Ri6opTFioEnszPqPLqN5k_AXnaUJtFbd9g&s" alt="Platzi"></a></li>
                  <li><a title="Credly" href="https://www.credly.com/users/sebastian-perez.f02ebce5/badges" target="_blank" rel="noopener"><img src="https://www.svgrepo.com/show/331358/credly.svg" alt="Credly"></a></li>
            </ul>
      </div>
      <footer>
            <section class="contact">
                  <h3 class="contact-title">Contact</h3>
                  <ul>
                        {% if site.social-x %}
                        <li><a href="https://x.com/{{ site.social-x }}" target="_blank"><i
                                          class="fab fa-x-twitter" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if site.social-instagram %}
                        <li><a href="https://instagram.com/{{ site.social-instagram }}" target="_blank"><i
                                          class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        {% endif %}
                        {% if site.social-github %}
                        <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i
                                          class="fab fa-github"></i></a></li>
                        {% endif %}
                        {% if site.social-linkedin %}
                        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}"
                                    target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        {% endif %}
                        {% if site.social-email %}
                        <li class="email"><a href="mailto:{{site.social-email}}"><i class="fas fa-envelope"></i></a>
                        </li>
                        {% endif %}
                  </ul>
            </section> <!-- End Section Contact -->
            <div class="copyright">
                  <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
            </div>
      </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
      {{ content }}
</div>